* {
	font-family: 'Open Sans', sans-serif;
}

body {
	background-color: #f0f3f7;
}

button {
	min-width: 100px;
	padding: 15px;
	border-radius: 5px;
	font-size: 16px;
	cursor:pointer;
}

section {
	position: absolute;
	left: 0;
	top: 100px;
	width: 100%;
}

table tr th {
	background-color: #26ab40;
	padding: 10px;
	color: #fff;
}

table tr:nth-child(even) {
	background-color: rgb(240,240,240);
}

.login-area {
	width: 90%;
	max-width: 600px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);		
}

.box-panel {
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 1px 1px 10px rgb(150,150,150);
	padding: 20px;
}

.box-panel .box-title {
	font-size: 25px;
	font-weight: bold;
	padding-bottom: 15px;
	border-bottom: 1px solid rgb(220,220,220);
}

.box-panel .box-body {
	padding-top:10px;
	padding-bottom:10px;
}

.form-element {
	padding-top:20px;
}

.form-element label {
	font-size: 14px;
	font-weight: bold;
}

.form-element input,select {
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	outline: none;
	border:none;
	border-bottom: 1px solid rgb(180,180,180);
}

.button-blue {
	background-color: #0362fc;
	border:1px solid #0362fc;
	color: #fff;
}

.button-blue:hover {
	color: #0362fc;
	background-color: #fff;
}

.align-center {
	text-align: center;
}

.form-error {
	color: red;
	font-size: 12px;
	padding-top: 5px;
}

.hidden {
	display: none;
}

.invalid {
	border-color: red !important;
}

.float-right {
	float: right;
}

.image-medium {
	width: 250px;
}

.header {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	background-color: #fff;
	padding: 20px;
	box-shadow: 1px 1px 5px rgb(140,140,140);
}

.user-info {
	float: right;
	margin-top:10px;
	margin-right: 50px;
}

.row {
	display: flex;
}

.row .col-8 {
	flex: 8;
	padding: 10px;
}

.row .col-4 {
	flex: 4;
	padding: 10px;
}


.btn-delete {

	border: none;
	background-color: red;
	font-size: 14px;
	padding:5px;
	color: #fff;

}

.btn-create {

	border: none;
	background-color: #039dfc;
	font-size: 14px;
	padding:5px;
	color: #fff;

}

#paper_content tr td {

		padding: 10px;

}

input {

		width: 100%;
		padding: 5px;
		background-color: rgb(240,240,240);
		border: 1px solid rgb(210,210,210);

}
