.column {
  float: left;
  width: 20%;
  padding: 10px;
}

/* Style the images inside the grid */
.column img {
  opacity: 0.8;
  cursor: pointer;
  width: 100%;
  border: 1px solid rgb(100,100,100);
}

.column img:hover {
  opacity: 1;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* The expanding image container (positioning is needed to position the close button and the text) */
.container {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  background-color:rgb(0,0,0,0.8);
  text-align:center;
  width: 100%;
  height: 100%;
  overflow: auto;
  z-index: 1000000;
}


/* Closable button inside the image */
.closebtn {
  position: absolute;
  top: 10px;
  right: 15px;
  color: white;
  font-size: 35px;
  cursor: pointer;
}