* {
	font-family: 'Open Sans', sans-serif;
}

body {
	background-color: #f0f3f7;
}

header {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	box-shadow: 1px 1px 5px rgb(140,140,140);
	background-color: #fff;
	padding: 0;
	z-index:100000;
}

.header {
	padding: 20px;
}

.header .right-bar {
	float: right;
}

.image-small {
	width: 150px;
}

.menu_bar {
	background-color: #1fad2d;
	padding: 20px;
}

.menu_bar a {
	padding-left: 20px;
	padding-right: 20px;
	text-decoration: none;
	color: #fff;
	text-shadow: 1px 1px 1px #000;
}

button {
	padding: 5px;
	min-width: 100px;
	outline: none;
	border-radius: 3px;
	border: none;
	cursor: pointer;
	padding-left: 20px;
	padding-right: 20px;
}

.medium {
	padding: 10px;
	font-size: 14px;
	font-weight: bold;
}

.button-blue {
	background-color: #387ad6;
	color: #fff;
}

.button-orange {
	background-color: #ffae00;
	color: #000;
}

.page-content {
	position: relative;
	padding-top: 150px;
	padding-bottom: 50px;
}

.pageRow {
	display: flex;
	padding:10px;
}

.pageRow .pageCol-7 {
	flex: 7;
	padding-left: 10px;
	padding-right: 10px;
}

.pageRow .pageCol-5 {
	flex: 5;
	padding-left: 10px;
	padding-right: 10px;
}

.eventCalender  {
	background-color: #fff;
	box-shadow: 1px 1px 5px rgb(180,180,180);
	padding-top:15px;
}

/* Month header */
.month {
  padding: 70px 0px;
  width: 100%;
  background: #1abc9c;
  text-align: center;
}

/* Month list */
.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

/* Previous button inside month header */
.month .prev {
  float: left;
  margin-left: 20px;
}

/* Next button */
.month .next {
  float: right;
  margin-right: 20px;
}

/* Weekdays (Mon-Sun) */
.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color:#ddd;
}

.weekdays li {
  display: inline-block;
  width: 13.6%;
  color: #666;
  text-align: center;
}

/* Days (1-31) */
.days {
  padding: 10px 0;
  background: #eee;
  margin: 0;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 5px;
  font-size:12px;
  color: #777;
}

/* Highlight the "current" day */
.days li .active {
  padding: 5px;
  background: #1abc9c;
  color: white !important
} 

.slider {
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 400px;
  transition: background 1s;
}

.news {
	background-color: #ffffff;
	border: 1px solid rgb(200,200,200);
	padding: 10px;
	border-radius: 3px;
}

.news:hover {
	background-color: #fff5c9;
	cursor: pointer;
}

.news .headline {
	padding-bottom: 5px;
	font-weight: bold;
}

.news .subline {
	font-size: 13px;
	color: rgb(100,100,100);
}

.box {
	background-color: #fff;
	padding: 20px;
	box-shadow: 1px 1px 2px rgb(100,100,100);
	border-radius: 3px;
}

.box .title {
	font-weight: bold;
	font-size: 20px;
	padding-bottom: 15px;
	border-bottom: 1px solid rgb(220,220,220);
}

.box .content {
	padding-top: 15px;
}

.formset {
	padding: 10px 0;
}

.formset .label {
	font-size: 13px;
	font-weight: bold;
	padding: 5px 0;
}

.formset input,select,textarea {
	padding: 10px;
	width: calc(100% - 20px);
	background-color: rgb(250,250,250);
	border: 1px solid rgb(220,220,220);
}

.formset .error {
	font-size: 12px;
	color: red;
}

.hide {
	display: none;
}

footer {
	background-color: #141414;
	padding:30px 50px;
	border-top:1px solid #d0d4d9;
}

footer .listTitle {
	font-weight: bold;
	color: #fff;
	border-bottom: 1px solid #fff;
	padding-bottom: 10px;
}

footer .list a,p{
	text-decoration: none;
	color: #fff;
	font-size: 13px;
	text-align: right;
}